/* dialogDonateInformation.css */

.dialog-donate-information {
    padding: 15px;
    background-color: rgb(52 73 94);
    border-radius: 8px;
    margin: 10px 0;
    color: #ffffff;
}

.dialog-donate-information h3 {
    margin-top: 0;
    color: #f1c40f; /* màu tiêu đề nổi bật */
    font-size: 1.15rem;
    margin-bottom: 10px;
    font-weight: 600;
}

.dialog-donate-information p {
    margin: 5px 0;
    color: #ffffff;
    font-size: 0.9rem;
}
